@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

header{
    height: 10%;
    width: 100%;
    // background-color: red;
    display: flex;

    .left{
        padding: 1.5rem;
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;

       .icon{
            height: 100%;
            width: fit-content;

            img{
                height: 100%;
                width: 100%;
            }
       }
       .nav{
            height: 100%;
            width:70%;

            ul{
                height: 100%;
                width: 100%;
                display: flex;
                // justify-content: space-around;
                align-items: center;
                list-style-type: none;
                gap:3rem;

                a{
                    color: white;
                    font-size: 1rem;
                    text-decoration: none;
                    font-family: "Roboto";
                    // font-weigh   t: 200;

                    &:hover{
                        color: #f5d900;
                        transition:all  .5s linear;
                    }
                }


            }
       }
    }
    .right{
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap:1rem;
        padding-right: 1rem;
        button{
            border: none;
            padding: .8rem 1rem;
            border-radius: 50px;
            background-color: #2b2b2b;
            color: white;
            font-family: "Roboto";
            // font-weight: 200;


            h3{
                font-size: 1rem;
            }

            &:hover{
                background-color: white;
                color: black;
                transition:all .2s linear;
            }
        }
        .arrow{
            border: none;
            padding: .8rem;
            border-radius: 50px;
            background-color: #f5d900;
            color: black;

            &:hover{
                background-color: white;
                color: black;
                transition:all .2s linear;
                rotate: 45deg;

                i{
                    color: black;
                }
            }
        }
    }

}
@font-face {
    font-family: "Surgena";
    src: url("./fonts/surgena-font-1768616337-0/surgenapersonaluseonlysembd-q2qwd.ttf");
}

section{
    height:90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1rem;
    padding: .5rem;

            .first{
                grid-column:1/4;
                grid-row:1/4;
                background-color: white;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1rem;

                .upper{
                    height: 85%;
                    // background-color: red;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    h2{
                        font-size: 1.5rem;
                        font-family: "Roboto";
                        line-height: 0.9;
                        &::selection{
                            color:#f5d900
                        }

                    }

                    h1{

                        font-size: 7rem;
                        font-family: "Surgena";
                        line-height: 0.9;

                        &::selection{
                            color:#f5d900
                        }
                    }

                }
                .lower{
                    height: 15%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;

                    button{
                        border: none;
                        padding: .8rem 1rem;
                        border-radius: 3rem;
                        background-color: #2b2b2b;

                        color: white;
                        font-family: "Roboto";

                            &:hover{
                                background-color: #f5d900;
                                color: black;
                                transition:all .2s linear;
                            }
                        h3{
                            font-size: 1rem;
                        }
                    }
                    img{
                        height: 2.5rem;
                    }
                    p{
                        font-size: .8rem;
                        font-family: "Roboto";
                    }
                }

            }
            .second{
                grid-column:4/5;
                grid-row:1/4;
                border-radius: 1rem;
                background-image: url("https://images.unsplash.com/photo-1593431763017-c689a61b729a?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
                background-size: cover;
                background-position: center;

                &:hover{
                    filter:opacity(.5);
                    transition:all .2s linear;

                }
            }
            .third{
                grid-column:1/3;
                grid-row:4/5;
                background-color:#f5d900;
                border-radius: 1rem;
                padding: 1rem;
                display: flex;
                justify-content: space-between;

                .left{
                    height: 100%;
                    width: 30%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 1.2rem;
                       

                    }

                }
                .right{
                    height: 100%;
                    width: 90%;
                    display: flex;
                    flex-direction: column;


                    .upper{
                        height: 40%;
                        width: 100%;
                        padding:1rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .upperleft{
                            justify-self: end;


                            p{
                                font-size:1rem;
                                font-family: "Roboto";
                                text-align: center;
                            }

                        }
                        .upperright{
                            display: flex;
                            justify-content: end;
                            align-items: center;
                            gap: 1.2rem;


                            .button{
                                border: none;
                                padding: .5rem;
                                border-radius: 50px;
                                background-color: black;
                                color: #f5d900;

                                &:hover{
                                    background-color: white;
                                    color: #f5d900;
                                    transition:all .2s linear;


                                    i{
                                        color: #f5d900;
                                        font-size: 1.2rem;

                                        &:hover{
                                            color: black;
                                            transition:all .2s linear;
                                        }
                                    }

                                }
                            }
                            p{
                                font-size: .8rem;
                                font-family: "Roboto";

                            }



                        }


                    }
                    .lower{
                        height:60%;
                        width: 100%;

                        display: flex;
                        padding: 1.8rem;
                        justify-content: start;
                        align-items: center;
                        h3{
                            font-size: 2rem;
                            font-family: "Surgena";
                            line-height: 0.9;

                        }
                    }


                }
            }
            .fourth{
                grid-column:3/5;
                grid-row:4/5;
                background-color: black;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;

                .upper{
                    height: 40%;
                    width: 100%;
                    // background-color: red;
                    padding: 1.2rem 1rem;
                    display: flex;
                    justify-content: space-between;
                    // align-items: center;
                    img{
                        // filter: brightness(100) invert();
                        height: 2rem;
                    }

                    h2{
                        font-size: 5rem;
                        font-family: "Surgena";
                        line-height: 0.9;
                        color: white;
                        &::selection{
                            color: #f5d900;
                        }
                    }

                        // img{
                        //     height: 3rem;
                        // }
                }
                .lower{
                    height: 60%;
                    width: 100%;
                    padding-left: 2rem;
                    button{
                        padding: 1rem 1rem;
                        border-radius: 50px;
                        border: 1px solid black;
                        font-size: .6rem;
                        background-color: white;
                        color: black;
                        cursor: pointer;
                        margin-top: 1rem;
                        font-weight: 600;

                        &:hover{
                            background-color: #f5d900;
                            color: black;
                            transition:all .2s linear;
                        }
                    }
                }
            }

}
